* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
body > main > #about-us {
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 120px;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
body > main > #about-us > img {
  height: 300px;
  width: 100%;
  filter: brightness(30%);
}
body > main > #about-us > #about-us-content {
  position: absolute;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
body > main > #about-us > #about-us-content > p {
  font-size: 35px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
body > main > #about-us-empower {
  position: relative;
  top: 120px;
  height: 500px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > #about-us-empower > #about-us-empower-img {
  height: 380px;
  width: 600px;
  /* border: 1px solid black; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > #about-us-empower > #about-us-empower-img > img {
  height: 350px;
  width: 350px;
}
body > main > #about-us-empower > #about-us-empower-content {
  height: 380px;
  width: 600px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
body
  > main
  > #about-us-empower
  > #about-us-empower-content
  > #about-us-empower-content-title {
  font-size: 35px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
body
  > main
  > #about-us-empower
  > #about-us-empower-content
  > #about-us-empower-content-description {
  font-size: 18px;
  margin-top: 10px;
  color: rgb(105, 105, 105);
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-align-last: left;
}
body > main > #footer-navbar {
  position: relative;
  top: 120px;
  height: 70px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body > main > #footer-navbar > img {
  height: 55px;
  width: 55px;
  /* margin: 0px 10px; */
}
body > main > #footer-navbar > p {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0px 10px;
}
body > main > #footer-navbar > a {
  text-decoration: none;
  color: white;
  background-color: #eb7416;
  font-size: 18px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 25px;
}
body > main > #our-core {
  position: relative;
  top: 120px;
  height: 800px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > main > #our-core > #our-core-title {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > #our-core > #our-core-title > p {
  font-size: 35px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
body > main > #our-core > #our-core-cards {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
body > main > #our-core > #our-core-cards > #our-core-cards-box {
  height: 600px;
  width: 1150px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
body > main > #our-core > #our-core-cards > #our-core-cards-box > .class-cards {
  height: auto;
  width: 370px;
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body
  > main
  > #our-core
  > #our-core-cards
  > #our-core-cards-box
  > .class-cards
  > img {
  height: 220px;
  width: 320px;
}
body
  > main
  > #our-core
  > #our-core-cards
  > #our-core-cards-box
  > .class-cards
  > .our-core-cards-heading {
  font-size: 28px;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}
body
  > main
  > #our-core
  > #our-core-cards
  > #our-core-cards-box
  > .class-cards
  > .our-core-cards-info {
  font-size: 16.5px;
  color: rgb(105, 105, 105);
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-align-last: left;
  margin-top: 10px;
}

@media screen and (max-width: 1235px) {
  body > main > #about-us-empower > #about-us-empower-img {
    height: 340px;
    width: 510px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 280px;
    width: 280px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    width: 570px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 34px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-description {
    font-size: 17px;
  }
  body > main > #footer-navbar > img {
    height: 52px;
    width: 52px;
  }
  body > main > #footer-navbar > p {
    font-size: 24px;
  }
  body > main > #footer-navbar > a {
    font-size: 17px;
    border-radius: 8px;
    padding: 6px 23px 9px 23px;
  }
  body > main > #our-core {
    height: 720px;
  }
  body > main > #our-core > #our-core-title {
    height: 80px;
    width: 100%;
  }
  body > main > #our-core > #our-core-cards {
    height: 610px;
  }
  body > main > #our-core > #our-core-cards > #our-core-cards-box {
    height: 610px;
    width: 1080px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 320px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > img {
    height: 190px !important;
    width: 290px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-heading {
    font-size: 27px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-info {
    font-size: 16px;
  }
}

@media screen and (max-width: 1090px) {
  body > main > #about-us-empower > #about-us-empower-img {
    height: 310px;
    width: 450px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 260px;
    width: 260px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    width: 500px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 32px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-description {
    font-size: 16px;
  }
  body > main > #our-core > #our-core-cards > #our-core-cards-box {
    height: 610px;
    width: 880px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 280px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > img {
    height: 160px !important;
    width: 260px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 950px) {
  body > main > #about-us-empower > #about-us-empower-img {
    height: 380px;
    width: 370px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 270px;
    width: 270px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    width: 400px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 27px;
  }
  body > main > #our-core {
    height: 1100px;
  }
  body > main > #our-core > #our-core-cards {
    height: 1000px;
  }
  body > main > #our-core > #our-core-cards > #our-core-cards-box {
    height: 1000px;
    width: 100%;
    justify-content: center;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 340px !important;
    margin: 0px 20px;
  }
}

@media screen and (max-width: 830px) {
  body > main > #about-us {
    position: relative;
    top: 215px;
  }
  body > main > #about-us-empower {
    position: relative;
    top: 215px;
  }
  body > main > #about-us-empower {
    height: 650px;
  }
  body > main > #about-us-empower > #about-us-empower-img {
    height: 500px;
    width: 340px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 240px;
    width: 240px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    height: 500px;
    width: 320px;
  }
  body > main > #footer-navbar {
    position: relative;
    top: 215px;
  }
  body > main > #footer-navbar > img {
    height: 47px;
    width: 47px;
  }
  body > main > #footer-navbar > p {
    font-size: 21px;
  }
  body > main > #footer-navbar > a {
    font-size: 17px;
    padding: 5px 22px 8px 22px;
  }
  body > main > #our-core {
    position: relative;
    top: 215px;
  }
  body > main > #our-core > #our-core-title > p {
    font-size: 30px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 300px !important;
    margin: 0px 15px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > img {
    height: 150px !important;
    width: 240px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-heading {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  body > main > #about-us {
    height: 230px;
    width: 100%;
  }
  body > main > #about-us > img {
    height: 230px;
  }
  body > main > #about-us > #about-us-content > p {
    font-size: 28px;
  }
  body > main > #about-us-empower {
    height: 750px;
  }
  body > main > #about-us-empower > #about-us-empower-img {
    height: 580px;
    width: 280px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 200px;
    width: 200px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    height: 580px;
    width: 250px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 25px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-description {
    font-size: 15px;
  }
  body > main > #footer-navbar > img {
    height: 40px;
    width: 40px;
  }
  body > main > #footer-navbar > p {
    font-size: 18px;
  }
  body > main > #footer-navbar > a {
    font-size: 16px;
    padding: 5px 20px 8px 20px;
  }
  body > main > #our-core > #our-core-title > p {
    font-size: 28px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 250px !important;
    margin: 0px 13px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > img {
    height: 120px !important;
    width: 200px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-heading {
    font-size: 21px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-info {
    font-size: 15px;
  }
}

@media screen and (max-width: 580px) {
  body > main > #about-us-empower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body > main > #about-us-empower > #about-us-empower-img {
    height: 250px;
    width: 400px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 200px;
    width: 200px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    height: 380px;
    width: 400px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 22px;
  }
  body > main > #footer-navbar{
  height: 100px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > main > #footer-navbar > img {
    display: none;
  }
  body > main > #footer-navbar > p {
    font-size: 19px;
  }
  body > main > #our-core {
    height: 1450px;
  }
  body > main > #our-core > #our-core-title > p {
  font-size: 26px;
  }
  body > main > #our-core > #our-core-cards {
    height: 1350px;
  }
  body > main > #our-core > #our-core-cards > #our-core-cards-box {
    height: 1350px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 340px !important;
    margin: 0px 20px;
  }
}

@media screen and (max-width: 470px) {
   body > main > #about-us {
    position: relative;
    top: 185px;
    height: 180px;
    width: 100%;
  }
  body > main > #about-us > img {
    height: 180px;
  }
  body > main > #about-us > #about-us-content > p {
    font-size: 25px;
  }
  body > main > #about-us-empower {
    position: relative;
    top: 185px;
  }
  body > main > #about-us-empower > #about-us-empower-img {
    height: 230px;
    width: 320px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 180px;
    width: 180px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    height: 410px;
    width: 320px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 20px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-description {
    font-size: 15px;
  }
  body > main > #footer-navbar {
    position: relative;
    top: 185px;
    height: 130px;
  }
  body > main > #our-core {
    position: relative;
    top: 185px;
  }
    body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    height: auto !important;
    width: 300px !important;
    margin: 0px 10px;
  }
   body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > img {
    height: 100px !important;
    width: 180px !important;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-heading {
    font-size: 18px;
  }
  body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards
    > .our-core-cards-info {
    font-size: 15px;
  }
}

@media screen and (max-width:390px) {
  body > main > #about-us-empower > #about-us-empower-img {
    height: 210px;
    width: 260px;
  }
  body > main > #about-us-empower > #about-us-empower-img > img {
    height: 150px;
    width: 150px;
  }
  body > main > #about-us-empower > #about-us-empower-content {
    height: 460px;
    width: 260px;
  }
  body
    > main
    > #about-us-empower
    > #about-us-empower-content
    > #about-us-empower-content-title {
    font-size: 18px;
  }
   body
    > main
    > #our-core
    > #our-core-cards
    > #our-core-cards-box
    > .class-cards {
    width: 260px !important;
  }
}