* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
body > main > .slider-container {
  position: relative;
  width: 100%;
  top: 120px;
  height: 60vh;
  overflow: hidden;
  border: 1px solid black;
}

body > main > .slider-container > .slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  height: 60vh;
}

body > main > .slider-container > .slider-track > .slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main > .slider-container > .slider-track > .slide > #description-box {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 70%;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

body > main > .slider-container > .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 6px;
}

body > main > .slider-container > .nav-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

body > main > .slider-container > #prevBtn {
  left: 10px;
}
body > main > .slider-container > #nextBtn {
  right: 10px;
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #heading {
  text-align: justify;
  text-align-last: left;
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #info {
  text-align: justify;
  text-align-last: left;
  font-size: 18px;
  color: white;
  margin: 20px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  /* border: 1px solid white; */
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box
  > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin: 0px 10px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box
  > #explore-more-button {
  background-color: white;
  color: #034a6e;
  border: none;
  padding: 10px 25px;
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box
  > #explore-more-button:hover {
  background-color: #034a6e;
  color: white;
  transition: 0.2s ease-in-out;
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box
  > #contact-us-button {
  background-color: #eb7416;
  color: white;
  border: none;
  padding: 10px 29px;
}
body
  > main
  > .slider-container
  > .slider-track
  > .slide
  > #description-box
  > #buttons-box
  > #contact-us-button:hover {
  background-color: white;
  color: #eb7416;
  transition: 0.2s ease-in-out;
}
body > main > #about-content {
  position: relative;
  top: 120px;
  height: 500px;
  width: 100%;
  /* border: 1px solid black; */
}
body > main > #about-content > #about-content-heading {
  height: 90px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
body > main > #about-content > #about-content-heading > p {
  font-size: 30px;
  text-align: center;
  color: #034a6e;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
body > main > #about-content > #about-content-box {
  height: 410px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body > main > #about-content > #about-content-box > #about-content-info {
  height: 410px;
  width: 620px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
body > main > #about-content > #about-content-box > #about-content-info > p {
  text-align: justify;
  text-align-last: left;
  font-size: 18px;
  color: #034a6e;
  font-family: "Roboto", sans-serif;
}
body > main > #about-content > #about-content-box > #about-content-info > a {
  text-decoration: none;
  color: white;
  background-color: #eb7416;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
body
  > main
  > #about-content
  > #about-content-box
  > #about-content-info
  > a:hover {
  background-color: white;
  color: #eb7416;
  transition: 0.2s ease-out;
  border: 1px solid #eb7416;
}
body > main > #about-content > #about-content-box > #about-content-img > img {
  height: 350px;
  width: 350px;
}
body > main > #featured-services {
  position: relative;
  top: 120px;
  height: 1110px;
  /* border: 1px solid black; */
  background-color: rgb(250, 241, 255);
}
body > main > #featured-services > #featured-services-heading {
  height: 90px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
body > main > #featured-services > #featured-services-heading > p {
  font-size: 30px;
  text-align: center;
  color: #034a6e;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
body > main > #featured-services > #featured-services-cards {
  height: 1010px;
  width: 100%;
  /* background-color: wheat; */
  /* border: 1px solid black; */
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body
  > main
  > #featured-services
  > #featured-services-cards
  > #featured-services-cards-box {
  height: 1010px;
  width: 1150px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body
  > main
  > #featured-services
  > #featured-services-cards
  > #featured-services-cards-box
  > #cards {
  height: 470px;
  width: 270px;
  padding: 10px 15px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
}
body
  > main
  > #featured-services
  > #featured-services-cards
  > #featured-services-cards-box
  > #cards
  > #title {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #034a6e;
  text-align: center;
}
body
  > main
  > #featured-services
  > #featured-services-cards
  > #featured-services-cards-box
  > #cards
  > #description {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: gray;
  text-align: justify;
  text-align-last: left;
}
body
  > main
  > #featured-services
  > #featured-services-cards
  > #featured-services-cards-box
  > #cards
  > #know-more {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #eb7416;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
}
body > main > #expert-content {
  position: relative;
  top: 120px;
  height: 750px;
  width: 100%;
  /* border: 1px solid black; */
}
body > main > #expert-content > #expert-content-title {
  height: 90px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
body > main > #expert-content > #expert-content-title > p {
  font-size: 30px;
  text-align: center;
  color: rgb(61, 61, 61);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
body > main > #expert-content > #expert-content-cards {
  height: 660px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box {
  height: 660px;
  width: 1150px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards {
  height: 590px;
  width: 365px;
  /* border: 1px solid black; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-heading {
  font-size: 20px;
  font-weight: bold;
  color: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > img {
  height: 230px;
  width: 362px;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-info {
  font-size: 17px;
  color: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-align-last: left;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-hiring-buttons {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-hiring-buttons
  > .left-india-hiring {
  background-color: #eb7416;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: "Roboto", sans-serif;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-hiring-buttons
  > .or-in {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 5px solid #eb7416;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body
  > main
  > #expert-content
  > #expert-content-cards
  > #expert-content-cards-box
  > .class-cards
  > .expert-content-cards-hiring-buttons
  > .right-usa-hiring {
  background-color: #eb7416;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: "Roboto", sans-serif;
}
body > main > #choosing-renuza {
  position: relative;
  top: 120px;
  height: 900px;
  width: 100%;
  background-color: rgb(250, 241, 255);
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
body > main > #choosing-renuza > #choosing-renuza-heading-box {
  height: 210px;
  width: 450px;
  /* border: 1px solid black; */
  padding-left: 10px;
}
body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
  font-size: 50px;
  /* text-align: center; */
  color: #034a6e;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
  height: 870px;
  width: 280px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 15px 0px 0px;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow1
  > .choosing-renuza-cards {
  height: 400px;
  width: 280px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow1
  > .choosing-renuza-cards
  > .choosing-renuza-cards-img {
  height: 240px;
  width: 240px;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow1
  > .choosing-renuza-cards
  > .choosing-renuza-cards-heading {
  font-size: 22px;
  font-weight: bold;
  color: #034a6e;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow1
  > .choosing-renuza-cards
  > .choosing-renuza-cards-info {
  font-size: 17px;
  color: rgb(125, 125, 125);
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
  height: 870px;
  width: 280px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 0px 0px 15px;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow2
  > .choosing-renuza-cards {
  height: 400px;
  width: 280px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow2
  > .choosing-renuza-cards
  > .choosing-renuza-cards-img {
  height: 240px;
  width: 240px;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow2
  > .choosing-renuza-cards
  > .choosing-renuza-cards-heading {
  font-size: 22px;
  font-weight: bold;
  color: #034a6e;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body
  > main
  > #choosing-renuza
  > #choosing-renuza-cardrow2
  > .choosing-renuza-cards
  > .choosing-renuza-cards-info {
  font-size: 17px;
  color: rgb(125, 125, 125);
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body > main > #footer-navbar {
  position: relative;
  top: 120px;
  height: 70px;
  width: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > main > #footer-navbar > img {
  height: 55px;
  width: 55px;
  /* margin: 0px 10px; */
}
body > main > #footer-navbar > p {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 0px 10px;
}
body > main > #footer-navbar > a {
  text-decoration: none;
  color: white;
  background-color: #eb7416;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  padding: 10px 25px;
}
body > main > #form {
  position: relative;
  top: 120px;
  height: 620px;
  width: 100%;
  background-color: rgb(250, 241, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > #form > p {
  display: none;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
body > main > #form > img {
  height: 500px;
  width: 500px;
}
body > main > #form > form {
  height: 380px;
  width: 500px;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #f9e8dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > main > #form > form > input {
  height: 40px;
  width: 470px;
  border-radius: 5px;
  border: 1px solid rgb(99, 99, 99);
  outline: none;
  color: rgb(99, 99, 99);
  margin: 5px 0px;
  padding-left: 10px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
body > main > #form > form > textarea {
  height: 80px;
  width: 470px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0px 0px 10px;
  color: rgb(99, 99, 99);
  outline: none;
  margin-top: 10px;
}
body > main > #form > form > #checkbox-info {
  width: 470px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  color: rgb(99, 99, 99);
  font-family: "Roboto", sans-serif;
  margin: 10px 0px;
}
body > main > #form > form > #checkbox-info > input {
  height: 15px;
  width: 15px;
  margin: 1px 5px 0px 0px;
}
body > main > #form > form > button {
  height: 43px;
  width: 470px;
  border-radius: 5px;
  border: none;
  background-color: #eb7416;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 1235px) {
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 29px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    font-size: 17px;
  }
  body > main > #about-content > #about-content-heading > p {
    font-size: 29px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > p {
    font-size: 17px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > a {
    font-size: 17px;
  }
  body > main > #expert-content > #expert-content-title > p {
    font-size: 29px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 455px;
    width: 255px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #title {
    font-size: 22px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #description {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 16px;
    padding: 9px 23px;
  }
  body > main > #expert-content {
    height: 700px;
  }
  body > main > #expert-content > #expert-content-cards {
    height: 630px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box {
    height: 630px;
    width: 1060px;
    display: flex;
    align-items: flex-start;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 570px !important;
    width: 310px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 180px !important;
    width: 307px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-heading {
    font-size: 19px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-info {
    font-size: 16px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 45px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 370px;
    width: 250px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 210px;
    width: 200px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 370px;
    width: 250px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 210px;
    width: 200px;
  }
  body > main > #footer-navbar > img {
    height: 52px;
    width: 52px;
  }
  body > main > #footer-navbar > p {
    font-size: 24px;
  }
  body > main > #footer-navbar > a {
    font-size: 17px;
  }
  body > main > #form > form {
    height: 370px;
    width: 490px;
  }
  body > main > #form > form > input {
    height: 38px;
    width: 460px;
    font-size: 16px;
  }
  body > main > #form > form > textarea {
    height: 75px;
    width: 460px;
    font-size: 16px;
  }
  body > main > #form > form > #checkbox-info {
    width: 460px;
    font-size: 16px;
  }
  body > main > #form > form > #checkbox-info > input {
    height: 14px;
    width: 14px;
  }
  body > main > #form > form > button {
    height: 38px;
    width: 460px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1090px) {
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 28px;
  }
  body > main > #about-content > #about-content-heading > p {
    font-size: 29px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    width: 530px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > p {
    font-size: 17px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > a {
    font-size: 17px;
  }
  body > main > #about-content > #about-content-box > #about-content-img > img {
    height: 320px;
    width: 320px;
  }
  body > main > #featured-services {
    height: 1210px;
  }
  body > main > #featured-services > #featured-services-cards {
    height: 1120px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box {
    height: 1120px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 535px;
    width: 215px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #title {
    font-size: 22px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #description {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 16px;
    padding: 9px 23px;
  }
  body > main > #expert-content {
    height: 760px;
  }
  body > main > #expert-content > #expert-content-cards {
    height: 670px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box {
    height: 670px;
    width: 890px;
    display: flex;
    align-items: flex-start;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 600px !important;
    width: 270px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 160px !important;
    width: 268px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 8px 17px;
    font-size: 16px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 8px 17px;
    font-size: 16px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    width: 400px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 43px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    height: 870px;
    width: 260px;
    margin: 0px 5px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 370px;
    width: 240px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 200px;
    width: 190px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    height: 870px;
    width: 260px;
    margin: 0px 5px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 370px;
    width: 240px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 200px;
    width: 190px;
  }
  body > main > #form {
    height: 560px;
  }
  body > main > #form > img {
    height: 510px;
    width: 510px;
  }
  body > main > #form > form {
    height: 350px;
    width: 410px;
  }
  body > main > #form > form > input {
    height: 36px;
    width: 380px;
    font-size: 15px;
  }
  body > main > #form > form > textarea {
    height: 73px;
    width: 380px;
    font-size: 15px;
  }
  body > main > #form > form > #checkbox-info {
    font-size: 15px;
    width: 380px;
  }
  body > main > #form > form > #checkbox-info > input {
    height: 14px;
    width: 14px;
  }
  body > main > #form > form > button {
    height: 38px;
    width: 380px;
    font-size: 17px;
  }
}

@media screen and (max-width: 950px) {
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 27px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    margin-top: 7px;
  }
  body > main > #about-content > #about-content-heading > p {
    font-size: 27px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    width: 450px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > p {
    font-size: 16px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > a {
    font-size: 16px;
  }
  body > main > #about-content > #about-content-box > #about-content-img > img {
    height: 280px;
    width: 280px;
  }
  body > main > #featured-services {
    height: 1730px;
  }
  body > main > #featured-services > #featured-services-cards {
    height: 1640px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box {
    height: 1640px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 530px;
    width: 235px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 15px;
  }
  body > main > #expert-content {
    height: 1162px;
  }
  body > main > #expert-content > #expert-content-cards {
    height: 1070px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box {
    height: 1070px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 500px !important;
    width: 350px !important;
    margin: 0px 15px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 210px !important;
    width: 346px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 10px 25px;
    font-size: 16px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 10px 25px;
    font-size: 16px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    width: 300px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 36px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    width: 240px;
    margin: 0px 2px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 350px;
    width: 220px;
    text-align: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 180px;
    width: 170px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    width: 240px;
    margin: 0px 2px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 350px;
    width: 220px;
    text-align: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 180px;
    width: 170px;
  }
  body > main > #form {
    height: 520px;
  }
  body > main > #form > img {
    height: 460px;
    width: 460px;
  }
  body > main > #form > form {
    height: 350px;
    width: 350px;
  }
  body > main > #form > form > #checkbox {
    width: 320px;
  }
  body > main > #form > form > input {
    width: 320px;
  }
  body > main > #form > form > textarea {
    height: 70px;
    width: 320px;
  }
  body > main > #form > form > #checkbox-info {
    width: 320px;
    font-size: 14px;
  }
  body > main > #form > form > button {
    width: 320px;
    font-size: 16px;
  }
}

@media screen and (max-width: 830px) {
  body > main > .slider-container {
    position: relative;
    top: 215px;
  }
  body > main > #about-content {
    position: relative;
    top: 215px;
  }
  body > main > #about-content {
    height: 580px;
  }
  body > main > #about-content > #about-content-box {
    height: 490px;
    justify-content: center;
    gap: 20px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    width: 350px;
  }
  body > main > #featured-services {
    position: relative;
    top: 215px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 530px;
    width: 205px;
  }
  body > main > #expert-content {
    position: relative;
    top: 215px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 500px !important;
    width: 300px !important;
    margin: 0px 15px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 210px !important;
    width: 297px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 8px 22px;
    font-size: 15px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 8px 22px;
    font-size: 15px;
  }
  body > main > #choosing-renuza {
    position: relative;
    top: 215px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    width: 250px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 36px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    width: 200px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 340px;
    width: 190px;
    text-align: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 160px;
    width: 150px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    width: 200px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 340px;
    width: 190px;
    text-align: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 160px;
    width: 150px;
  }
  body > main > #footer-navbar {
    position: relative;
    top: 215px;
  }
  body > main > #footer-navbar > img {
    height: 47px;
    width: 47px;
  }
  body > main > #footer-navbar > p {
    font-size: 21px;
  }
  body > main > #footer-navbar > a {
    font-size: 17px;
    padding: 5px 22px 8px 22px;
  }
  body > main > #form {
    position: relative;
    top: 215px;
  }
  body > main > #form {
    height: 480px;
  }
  body > main > #form > img {
    height: 350px;
    width: 350px;
  }
  body > main > #form > form {
    height: 360px;
    width: 300px;
  }
  body > main > #form > form > #checkbox-info {
    width: 270px;
  }
  body > main > #form > form > input {
    font-size: 14px;
    height: 43px;
    width: 270px;
    margin: 3px 0px;
  }
  body > main > #form > form > textarea {
    height: 75px;
    width: 270px;
    font-size: 14px;
    margin-top: 5px;
  }
  body > main > #form > form > button {
    width: 270px;
  }
}

@media screen and (max-width: 700px) {
  body > main > .slider-container {
    height: 55vh;
  }

  body > main > .slider-container > .slider-track {
    height: 55vh;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 22px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    font-size: 15px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #explore-more-button {
    font-size: 15px;
    padding: 8px 22px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #contact-us-button {
    font-size: 15px;
    padding: 8px 25px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    height: 450px;
    width: 280px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > p {
    font-size: 15px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > a {
    font-size: 15px;
    padding: 8px 20px 10px 20px;
  }
  body > main > #about-content > #about-content-box > #about-content-img > img {
    height: 230px;
    width: 230px;
  }
  body > main > #featured-services {
    height: 2010px;
  }
  body > main > #featured-services > #featured-services-cards {
    height: 1890px;
  }
  body > main > #featured-services > #featured-services-heading > p {
    font-size: 26px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box {
    height: 1890px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 440px;
    width: 245px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > img {
    height: 130px;
    width: 130px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #title {
    font-size: 19px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #description {
    font-size: 15px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 14px;
    padding: 9px 23px;
  }
  body > main > #expert-content > #expert-content-title > p {
    font-size: 25px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 500px !important;
    width: 240px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-heading {
    font-size: 17px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 140px !important;
    width: 236px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 8px 12px;
    font-size: 15px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 8px 12px;
    font-size: 15px;
  }
  body > main > #choosing-renuza {
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 32px;
    text-align: center;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    height: 305px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 260px;
    width: 250px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 140px;
    width: 150px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    height: 305px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 260px;
    width: 250px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 140px;
    width: 150px;
  }
  body > main > #form {
    height: 500px;
  }
  body > main > #form > img {
    height: 250px;
    width: 250px;
  }
  body > main > #form > form {
    height: 360px;
    width: 300px;
  }
  body > main > #form > form > #checkbox-info {
    width: 270px;
  }
  body > main > #form > form > input {
    font-size: 14px;
    height: 40px;
    width: 270px;
  }
  body > main > #form > form > textarea {
    height: 70px;
    width: 270px;
    font-size: 14px;
  }
  body > main > #footer-navbar > img {
    height: 40px;
    width: 40px;
  }
  body > main > #footer-navbar > p {
    font-size: 18px;
  }
  body > main > #footer-navbar > a {
    font-size: 16px;
    padding: 5px 20px 8px 20px;
  }
}

@media screen and (max-width: 580px) {
  body > main > .slider-container {
    height: 50vh;
  }

  body > main > .slider-container > .slider-track {
    height: 50vh;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box{
      padding: 5px 10px;
    }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 20px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    font-size: 15px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #explore-more-button {
    font-size: 15px;
    padding: 7px 20px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #contact-us-button {
    font-size: 15px;
    padding: 7px 23px;
  }
  body > main > #about-content {
    height: 700px;
  }
  body > main > #about-content > #about-content-heading > p {
    font-size: 25px;
  }
  body > main > #about-content > #about-content-box {
    height: 610px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    height: 300px;
    width: 400px;
  }
  body > main > #featured-services {
    height: 2010px;
  }
  body > main > #featured-services > #featured-services-cards {
    height: 1890px;
  }
  body > main > #featured-services > #featured-services-heading > p {
    font-size: 24px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box {
    height: 1890px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 470px;
    width: 200px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > img {
    height: 100px;
    width: 100px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #title {
    font-size: 19px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #description {
    font-size: 15px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 14px;
    padding: 9px 23px;
  }
  body > main > #expert-content {
    height: 1692px;
  }
  body > main > #expert-content > #expert-content-cards {
    height: 1600px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box {
    height: 1600px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 500px !important;
    width: 350px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 210px !important;
    width: 346px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-info {
    font-size: 15px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 10px 30px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 10px 30px;
  }
  body > main > #choosing-renuza {
    height: 800px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    height: 150px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 30px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    height: 325px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 300px;
    width: 200px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 110px;
    width: 120px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-heading {
    font-size: 20px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-info {
    font-size: 15px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    height: 325px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 300px;
    width: 200px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 110px;
    width: 120px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-heading {
    font-size: 20px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-info {
    font-size: 15px;
  }
  body > main > #footer-navbar {
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body > main > #footer-navbar > img {
    display: none;
  }
  body > main > #footer-navbar > p {
    font-size: 19px;
  }
  body > main > #form {
    height: 760px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body > main > #form > img {
    height: 250px;
    width: 250px;
  }
  body > main > #form > form {
    height: 380px;
    width: 300px;
  }
  body > main > #form > form > input {
    font-size: 14px;
    height: 40px;
    width: 270px;
  }
  body > main > #form > form > button {
    width: 270px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 470px) {
  body > main > .slider-container {
    position: relative;
    top: 185px;
    height: 50vh;
  }

  body > main > .slider-container > .slider-track {
    height: 50vh;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box{
      padding: 5px 10px;
    }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 16px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    font-size: 13.5px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > a
    {
      margin: 0px 5px;
    }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #explore-more-button {
    font-size: 13px;
    padding: 6px 18px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #contact-us-button {
    font-size: 13px;
    padding: 6px 20px;
  }
  body > main > #about-content {
    position: relative;
    top: 185px;
    height: 800px;
  }
  body > main > #about-content > #about-content-heading > p {
    font-size: 23px;
  }
  body > main > #about-content > #about-content-box {
    height: 720px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    height: 400px;
    width: 320px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > p {
    font-size: 15px;
  }
  body > main > #about-content > #about-content-box > #about-content-info > a {
    font-size: 14px;
    padding: 6px 20px 8px 20px;
  }
  body > main > #featured-services {
    position: relative;
    top: 185px;
    height: 3110px;
  }
  body > main > #featured-services > #featured-services-cards {
    height: 2990px;
  }
  body > main > #featured-services > #featured-services-heading > p {
    font-size: 24px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box {
    height: 2990px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 350px;
    width: 320px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #title {
    font-size: 17px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #description {
    font-size: 15px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards
    > #know-more {
    font-size: 13px;
    padding: 8px 20px;
  }
  body > main > #expert-content {
    position: relative;
    top: 185px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 500px !important;
    width: 320px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 190px !important;
    width: 316px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 7px 25px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 7px 25px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-info {
    font-size: 14px;
  }
  body > main > #choosing-renuza {
    position: relative;
    top: 185px;
    height: 700px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box {
    height: 100px;
  }
  body > main > #choosing-renuza > #choosing-renuza-heading-box > p {
    font-size: 25px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    height: 300px;
    gap: 10px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 270px;
    width: 160px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 90px;
    width: 100px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-heading {
    font-size: 18px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards
    > .choosing-renuza-cards-info {
    font-size: 15px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    height: 300px;
    gap: 10px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 270px;
    width: 160px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-img {
    height: 110px;
    width: 120px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-heading {
    font-size: 18px;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards
    > .choosing-renuza-cards-info {
    font-size: 15px;
  }
  body > main > #footer-navbar {
    position: relative;
    top: 185px;
    height: 130px;
  }
  body > main > #form {
    position: relative;
    top: 185px;
    height: 700px;
  }
  body > main > #form > form {
    height: 300px;
    width: 280px;
  }
  body > main > #form > form > input {
    height: 32px;
    width: 240px;
    font-size: 14px;
    margin: 4px 0px;
  }
  body > main > #form > form > textarea {
    height: 60px;
    width: 240px;
    font-size: 14px;
    margin-top: 1px;
  }
  body > main > #form > form > #checkbox-info {
    height: 30px;
    width: 240px;
    margin-top: 5px;
  }
  body > main > #form > form > #checkbox-info > input {
    height: 15px;
    width: 15px;
    margin: 3px 5px 0px 0px;
  }
  body > main > #form > form > button {
    height: 32px;
    width: 240px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 390px) {
 body > main > .slider-container {
    height: 50vh;
  }

  body > main > .slider-container > .slider-track {
    height: 50vh;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box{
      padding: 5px 5px;
    }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #heading {
    font-size: 16px;
  }

  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #info {
    font-size: 13px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > a
    {
      margin: 3px 5px;
    }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #explore-more-button {
    font-size: 13px;
    padding: 6px 18px;
  }
  body
    > main
    > .slider-container
    > .slider-track
    > .slide
    > #description-box
    > #buttons-box
    > #contact-us-button {
    font-size: 13px;
    padding: 6px 24px;
  }
  body > main > #about-content > #about-content-box > #about-content-info {
    height: 420px;
    width: 260px;
  }
  body
    > main
    > #featured-services
    > #featured-services-cards
    > #featured-services-cards-box
    > #cards {
    height: 350px;
    width: 260px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards {
    height: 470px !important;
    width: 260px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > img {
    height: 160px !important;
    width: 256px !important;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .left-india-hiring {
    padding: 7px 17px;
  }
  body
    > main
    > #expert-content
    > #expert-content-cards
    > #expert-content-cards-box
    > .class-cards
    > .expert-content-cards-hiring-buttons
    > .right-usa-hiring {
    padding: 7px 17px;
  }
  body > main > #choosing-renuza {
    height: 1000px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow1 {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow1
    > .choosing-renuza-cards {
    height: 200px;
    width: 250px;
  }
  body > main > #choosing-renuza > #choosing-renuza-cardrow2 {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  body
    > main
    > #choosing-renuza
    > #choosing-renuza-cardrow2
    > .choosing-renuza-cards {
    height: 200px;
    width: 250px;
  }
  body > main > #form > form {
    height: 300px;
    width: 260px;
  }
  body > main > #form > form > input {
    height: 30px;
    width: 220px;
  }
  body > main > #form > form > textarea {
    width: 220px;
  }
  body > main > #form > form > #checkbox-info {
    width: 220px;
  }
  body > main > #form > form > button {
    width: 220px;
  }
}
