* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
body > main {
  position: relative;
  top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
body > main > #jd-box {
  width: 1000px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 100px 20px 100px;
  box-shadow: 0px 0px 10px rgb(165, 165, 165);
  margin: 0px 30px;
}
body > main > #jd-box > #jd-applying-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body > main > #jd-box > #jd-applying-block > #company-logo-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 30px 0px;
}
body > main > #jd-box > #jd-applying-block > #company-logo-block>#logo{
  height: 60px;
}
body > main > #jd-box > #jd-applying-block > #role-block {
  width: 100%;
  padding: 0px 0px 15px 0px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body > main > #jd-box > #jd-applying-block > #role-block > #role {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #034a6e;
}
body > main > #jd-box > #jd-applying-block > #work-type-block>p{
    margin: 0px 3px;
}
body > main > #jd-box > #jd-applying-block > #location-block>p{
    margin: 0px 3px;
}
body > main > #jd-box > #jd-applying-block > .all-blocks {
  width: 100%;
  padding: 9px 0px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
}
body > main > #jd-box > #jd-applying-block > .all-blocks > img {
  height: 22px;
  width: 22px;
  margin: 0px 10px;
}
body > main > #jd-box > #jd-applying-block > .all-blocks > p {
  font-size: 17px;
}
body > main > #jd-box > #jd-applying-block > #location-block > img {
  height: 35px;
  width: 35px;
  margin: 0px 4px;
}
body > main > #jd-box > #jd-applying-block > #apply-button-block {
  width: 100%;
  padding: 10px 0px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  p {
    font-size: 17px;
  }
}
body > main > #jd-box > #jd-applying-block > #apply-button-block > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body > main > #jd-box > #jd-applying-block > #apply-button-block > div > a {
  text-decoration: none;
  color: #034a6e;
  /* border: 1px solid black; */
  font-size: 25px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px 4px 10px;
}

body
  > main
  > #jd-box
  > #jd-applying-block
  > #apply-button-block
  > div
  > a:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
  color: #eb7416;
}
body > main > #jd-box > hr {
  border: 6px solid #eb7416;
  height: 2px;
  background-color: #ccc;
  width: 100%;
}
body > main > #jd-box > #jd-full-info-block{
    width: 100%;
    /* border: 1px solid black; */
}
body > main > #jd-box > #jd-full-info-block>#about-job-heading-block{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}
body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
    font-size: 17px;
    color: rgb(99, 98, 98);
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-align: justify;
    text-align-last: left;
    /* font-weight: 300; */
}
body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}
body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
    font-size: 17px;
    color: rgb(99, 98, 98);
    font-family: 'Roboto', sans-serif;
    margin: 5px 0px 0px 45px;
}
body > main > #jd-box > #hr-line {
  margin: 50px 0px 0px 0px;
}
body > main > #jd-box >#footer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 20px 0px 0px 0px;
  /* border: 1px solid black; */
  font-size: 18px;
}
body > main > #jd-box >#footer-block>#company-address{
  font-size: 16px;
}
body > main > #jd-box >#footer-block>#contacts{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
  color: #034a6e;
  font-weight: bold;
}

@media screen and (max-width:1235px) {
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 28px;
  }
}

@media screen and (max-width:1090px) {
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 27px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 20px;
    width: 20px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > p {
    font-size: 16.5px;
  }
  body > main > #jd-box > #jd-applying-block > #location-block > img {
    height: 30px;
    width: 30px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block {
    p {
      font-size: 16.5px;
    }
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
    font-size: 17px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
      font-size: 21px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
      font-size: 16.5px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
      font-size: 21px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
      font-size: 16.5px;
  }
}

@media screen and (max-width:950px) {
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 25px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 18px;
    width: 18px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > p {
    font-size: 16px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block {
    p {
      font-size: 16px;
    }
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
    font-size: 16px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
      font-size: 20px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
      font-size: 16px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
      font-size: 20px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
      font-size: 16px;
  }
}

@media screen and (max-width: 830px) {
  body > main {
  position: relative;
  top: 215px;
  }
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 22px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 16px;
    width: 16px;
  }
  body > main > #jd-box > #jd-applying-block > #location-block > img {
  height: 28px;
  width: 28px;
}
  body > main > #jd-box > #jd-applying-block > .all-blocks > p {
    font-size: 15px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block {
    p {
      font-size: 15px;
    }
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
    font-size: 15px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > a {
    font-size: 22px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
      font-size: 19px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
      font-size: 15px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
      font-size: 19px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
      font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  body > main > #jd-box > #jd-applying-block > #role-block{
    padding: 0px 0px 8px 0px;
  }
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 21px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks {
    padding: 8px 0px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 15px;
    width: 15px;
    margin: 0px 8px 0px 10px;
  }
  body > main > #jd-box > #jd-applying-block > #location-block > img {
  height: 26px;
  width: 26px;
  margin: 0px 1px 0px 4px;
}
  body > main > #jd-box > #jd-applying-block > .all-blocks > p {
    font-size: 14px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block {
    padding: 7px 0px;
    p {
      font-size: 14px;
    }
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
    font-size: 14px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > a {
    font-size: 20px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
      font-size: 18px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
      font-size: 14px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
      font-size: 18px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
      font-size: 14px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
    margin: 5px 0px 0px 30px;
}
}

@media screen and (max-width: 580px) {
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 14px;
    width: 14px;
    margin: 0px 8px 0px 6px;
  }
  body > main > #jd-box > #jd-applying-block > #location-block > img {
  height: 25px;
  width: 25px;
  margin: 0px 1px 0px 1px;
}
}

@media screen and (max-width: 470px) {
  body > main {
  position: relative;
  top: 185px;
  }
  body > main > #jd-box {
    padding: 20px 15px;
    margin: 0px 20px;
  }
  body > main > #jd-box > #jd-applying-block > #role-block{
    padding: 0px 0px 5px 0px;
  }
  body > main > #jd-box > #jd-applying-block > #role-block > #role {
    font-size: 16px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks {
    padding: 2px 0px;
  }
  body > main > #jd-box > #jd-applying-block > .all-blocks > img {
    height: 11px;
    width: 11px;
    margin: 0px 8px 0px 2px;
  }
  body > main > #jd-box > #jd-applying-block > #location-block > img {
  height: 21px;
  width: 21px;
  margin: 0px 0px 0px -2px;
}
  body > main > #jd-box > #jd-applying-block > .all-blocks > p {
    font-size: 13px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block {
    padding: 5px 0px 10px 0px;
    p {
      font-size: 13px;
    }
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > p {
    font-size: 13px;
  }
  body > main > #jd-box > #jd-applying-block > #apply-button-block > div > a {
    font-size: 16px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#heading{
      font-size: 16px;
      margin-top: 8px;
  }
  body > main > #jd-box > #jd-full-info-block>#about-job-heading-block>#jd{
      font-size: 13px;
      margin-top: 5px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>p{
      font-size: 16px;
      margin-top: 5px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
      font-size: 13px;
  }
  body > main > #jd-box > #jd-full-info-block>.all-lists-box>.all-lists{
    margin: 3px 0px 0px 20px;
}
}

@media screen and (max-width: 360px) {
  body > main > #jd-box {
    padding: 10px 10px;
    margin: 0px 15px;
  }
}